---

---

<section class="flex justify-between items-center sm:w-[1142px] w-[375px] mx-4 mt-16">
    <div class="w-[704px] sm:ml-[149px]">
      <p class="text-xl font-medium mb-4 text-gray-500">Who can attend?</p>
      <hr />
      <!-- categories -->
      <div class="mt-8 flex flex-wrap gap-4">
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Front End Developers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Backend Developers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Founders
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Community Managers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Designers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Social Media Influencers
        </span>
      </div>
    </div>
</section>