---

---


<section class="flex justify-between items-center sm:w-[1142px] w-[375px] mx-4 mt-16">
    <div class="w-[704px] sm:ml-[149px]">
      <p class="text-xl font-medium mb-4 text-gray-500">Tags</p>
      <hr />
      <!-- tags -->
      <div class="mt-8 flex flex-wrap gap-4">
        <span
          class="rounded-2xl border border-cyan-50 bg-cyan-50 text-cyan-500 px-2.5 py-1 text-xs"
        >
          Nigeria
        </span>
        <span
          class="rounded-2xl border border-gray-50 bg-gray-50 text-gray-500 px-2.5 py-1 text-xs"
        >
          Techie
        </span>
        <span class="rounded-2xl border border-red-50 bg-red-50 text-red-500 px-2.5 py-1 text-xs">
          Skills
        </span>
        <span
          class="rounded-2xl border border-violet-50 bg-violet-50 text-violet-500 px-2.5 py-1 text-xs"
        >
          Tech events
        </span>
        <span
          class="rounded-2xl border border-green-50 bg-green-50 text-green-500 px-2.5 py-1 text-xs"
        >
          Lagos
        </span>
      </div>
    </div>
  </section>