---

---

<section class="py-10">
  <div class="container mx-auto max-w-screen-xl p-5 relative">
    <div class="relative flex px-5 sm:flex-row flex-col gap-20 justify-around text-center">
      <span
        class="bg-emerald-400 text-white font-medium
        py-1 px-2 -top-14 text-sm inline-block -rotate-[25deg] absolute"
      >
        Let’s brag
      </span>
      <div>
        <h2
          class="text-green-gradient sm:text-6xl text-5xl mb-3 font-heading sm:leading-[3.5rem] leading-[3rem]"
        >
          100
        </h2>
        <p class="text-xl text-gray-500">Events</p>
      </div>
      <div>
        <h2
          class="text-red-gradient sm:text-6xl text-5xl mb-3 font-heading sm:leading-[3.5rem] leading-[3rem]"
        >
          12,000
        </h2>
        <p class="text-xl text-gray-500">Interests</p>
      </div>
      <div>
        <h2
          class="text-purple-gradient sm:text-6xl text-5xl mb-3 font-heading sm:leading-[3.5rem] leading-[3rem]"
        >
          2,300
        </h2>
        <p class="text-xl text-gray-500">Reminders</p>
      </div>
    </div>
  </div>
</section>

<style></style>
<script type="module"></script>
