---
interface Props {
  svg: string;
  bgColor: string;
  rounded: string;
}

const { svg, bgColor, rounded } = Astro.props;
---

<div class={`rounded-${rounded} ${bgColor} p-2 w-10 h-10`}>
  {svg}
</div>
