---
import EventPageHeading from "../../components/sections/EventPageHeading.astro";
import Layout from "../../layouts/Layout.astro";
import SearchForm from "../../components/sections/SearchForm";
---

<Layout title="Event Details" description="description" image="" keywords="">
  <EventPageHeading />
  <section class="w-full py-10">
    <div class="container mx-auto max-w-screen-lg p-5">
      <SearchForm />
    </div>
  </section>
</Layout>
